*{

box-sizing:border-box;

}
    
    
body{
background-image: url(../doc/resume.jpg);
background-position: center top;
height: 1750px;

}
.container{
    
    width: 1142px;
    margin: 0 auto;
}

.fc{
display: flex;

}
.jc-center{

    justify-content: center;
}

.fi{
    /*border: solid 3px;*/
    padding-left: 10px;
    padding-right: 10px;
}

.col-1{
    width:8.333333333333333% ;
}

.col-2{
    width: 16.66666666666667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33333333333333%;
}

.col-5{
    width: 41.66666666666667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33333333333333%;
}

.col-8{
    width: 66.66666666666667%;
}

.col-9{
    width: 75;
}


.col-10{
    width: 83.33333333333333%;
}

.col-11{
    width:91.66666666666667%;
}

.col-12{
    width: 100%;
}
#left{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#right{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


.header{
    background-color: #313c4e;
    height: 259px;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.highlighted-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 15px;
    color: #438f80;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.content-box h2{
    color: #419199;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.header-left h1{
    color: white;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: lighter;
    padding-bottom: 10px;
    
}
.header-left h4{
    color: #419199;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.header-left p{
    color: white;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: lighter;
}
    
    

 

.header-right img{

width: 100%;
border-radius: 50%;
border: solid 4px;

}

.contacts{
    background-color: #222a33;
    text-align: center;
    font-size: 16px;
    text-size-adjust: 18px;

}

.contacts a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-size-adjust: 18px;
    text-transform: uppercase;
    padding: 0 25px;
    display:inline-block;
}
.main-section{
    background-color:rgb(255 255 255);
    height: 1430px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 20px;
    display: flex;
}
.content-box-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box-tags-1{
    margin: 5px;
    background-color: darkgray;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    width: 164px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 5px;
    
}


.content-box-tags span{
    margin: 4px;
    border: 1px solid black;
    padding-top: 10px ;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left:10px ;
    border-radius: 10px;
    font-size: 22px;

}

.content-box-detail{

    padding-bottom: 20px;
}

.content-box-details ul{

padding-bottom: 10px;

}


.content-box-details span{

display:inline-block;
padding-right: 176px;

}

.content-box-details p{

    color: gray;
    font-size: 20px;
    padding-top: 10px;
    font-style: italic;
    padding-bottom: 10px;
}

.content-box-details h4{

    
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    padding-bottom: 5px;
}
.content-box-details h3{

    
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}
.content-box h5{
font-size: 20px;

}
.content-box{

    padding-bottom: 6px;
}








