.header {
  background-color: #313c4e;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}
.header h2 {
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.header h5 {
  color: #315980;
  font-size: 21px;
}
.header p {
  color: #fff;
}
.contacts {
  background-color: #222a33;
  text-align: center;
  padding-top: 19px;
    padding-bottom: 19px;
  
}
.contacts a {
  color: #fff;
  padding-left: 20px;
  
}
.content-box{
  padding: 20px;
}
.content-box h2{
   color: #449399;
  font-family: sans-serif;
}
.content-box-details{

}
.content-box-details h3{
  color: #000000;
  font-size: 25px;

}
.content-box-details span{
   color: #449399;
   
}
.content-box-tag{
  border: 3px solid #a1abbe;
   
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    float: left;
    text-align: -webkit-center;
    margin: 10px;
    width: 74px;
}
.content-box-detail-left p {
  color: #b9bfc7;
}
.content-box-detail-right p {
  color: #b9bfc7;
}

.languages-left p {
  color: #b6bac2;
}
.languages-right p {
  color: #b6bac2;
}
.content-interest h2 {
  color: hsl(185, 57%, 30%);
}
#content-box-tags {
  border: 3px solid #a1abbe;
    color: white;
    border-radius: 10px;
    padding: 13px;
    text-align: -webkit-center;
    margin: 10px;
    width: 5%;
    background-color: #989da6;
}

.span .hello {
  color: #519aa0;
}
.content-box-details h6 {
  color: #000;
  font-size: 18px;
  font-family: sans-serif;
}
.content-box-details p {
  color: #a9afb5;
}

.sub-content-box h6 {
  color: #519aa0;
}
.sub-content-box li {
  color: black;
}
.span left {
  color: #519aa0;
}
