body{
    background-image: url(../doc/resume.jpg);
    background-position: center top;
    height: 1750px;
}
.container{
    width: 1138px;
    margin: auto;
}
.fc{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.fi{
    /* border: solid 3px; */
}
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 41.6666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.header{
    background-color: #313c4e;
    height: 199px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 0px;
}
.header-left h1{
    font-size: 48px;
    margin-bottom: 10px;
}
.header-left h3{
    font-size: 30px;
    color: #439096;
    padding-bottom: 14px;
}
.header-left p{
    font-size: 25px;
}
.contacts{
    background-color: #222b34; 
    height: 45px;
}
.contacts .fi a{
    color: #ffff;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}
.main-section{
    background-color: #ffff; 
    height: 1420px;
}
.content-box-1 h2{
    color: #439096;
    font-size: 29px;
    padding-top: 29px;
    padding-bottom: 23px;
    text-decoration: underline;
}
.content-box-1 h3{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content-box-1 h4{
    font-size: 29px;
}
.content-box-1 .left-side{
    color: #439096;
    font-size: 23px;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 24px;
}
.content-box-1 .right-side{
    color: #439096;
    font-size: 23px;
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 24px;
    padding-left: 330px;
}
.content-box-2 h2{
    color: #439096;
    font-size: 29px;
    padding-top: 29px;
    padding-bottom: 23px;
    text-decoration: underline;
}
.content-box-2 h3{
    font-size: 30px;
}
.content-box-2 h4{
    font-size: 29px;
}
.content-box-2 .left-side{
    color: #439096;
    font-size: 23px;
    display: inline-block;
    padding-top: 10px;
}
.content-box-2 .right-side{
    color: #439096;
    font-size: 23px;
    display: inline-block;
    padding-top: 9px;
    padding-left: 297px;
}
.content-box-2 .description{
    font-size: 24px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 26px;
    list-style-position: inside;
}
.content-box-3 h2{
    color: #439096;
    font-size: 29px;
    padding-top: 29px;
    padding-bottom: 23px;
    text-decoration: underline;
}
.content-box-3 .content-box-tags-1 .content-box-tag{
    display: inline-block;
    background-color: gainsboro;
    border-radius: 250px;
}
.content-box-4 h2{
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 21px;
    color: #439096;
    text-decoration: underline;
}
.content-box-4 h4{
    font-size: 26px;
    padding-bottom: 2px;
}
.content-box-4 .project-description{
    font-size: 24px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 26px;
    list-style-position: inside;   
}
.content-box-5 h2{
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 21px;
    color: #439096;
    text-decoration: underline;
}
.content-box-5 h4{
    font-size: 26px;
    padding-bottom: 2px;
}
.content-box-5 .left-side{
    color: #439096;
    font-size: 23px;
    display: inline-block;
    padding-top: 10px;
}
.content-box-5 .right-side{
    color: #439096;
    font-size: 23px;
    display: inline-block;
    padding-top: 9px;
    padding-left: 7px;
}
.content-box-5 .certificate-1 .event-description{
    font-size: 24px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 20px; 
}
.content-box-5 .certificate-2 .event-description{
    font-size: 24px;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 20px; 
}
.content-box-6 h2{
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 21px;
    color: #439096;
    text-decoration: underline;
}
.content-box-6 h3{
    font-size: 22px;
}
.content-box-6 h4{
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.content-box-7 h2{
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 21px;
    color: #439096;
    text-decoration: underline;
}
.content-box-7 .content-box-tags-2 .content-box-tag{
    display: inline-block;
    background-color: gainsboro;
    border-radius: 250px;
}



