body {
  font-family: Arial, Helvetica, sans-serif;
  width: 850px;
  height: 1025px;
  justify-content: center;
  border: solid;
  border-color:  #313c4e;
 
}
#header {
  background-color: #313c4e;
}
.name {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.name h1 {
  color: #fff;
  font-size: 40px;
}
.name h4 {
  color: #419195;
  padding-bottom: 20px;
}
.name p {
  color: white;
  word-break: break-all;
}
#contacts {
  background-color: #222a33;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
#contacts a {
  color: white;
}
#education {
  padding: 30px 40px 10px 30px;
}
#workexperience {
  padding: 30px 40px 10px 30px;
}
#softskills {
  padding: 30px 40px 10px 30px;
}
#certificates {
  padding: 30px 40px 10px 30px;
}
#languages {
  padding: 30px 40px 10px 30px;
}
#interests {
  padding: 30px 40px 10px 30px;
}
#personalprojects {
  padding: 30px 40px 10px 30px;
}
h4 {
  padding-top: 10px;
  padding-bottom: 4px;
}

.contenthead3 p {
  padding-bottom: 5px;
}
#workexperience ul {
  padding: 10px 20px 10px 20px;
}

#right h3 {
  padding-bottom: 10px;
}
#personalprojects ul {
  padding-left: 20px;
  padding-bottom: 10px;
}
#personalprojects p {
  padding-bottom: 10px;
}
#certificates p {
  padding-top: 10px;
}
#certificates h3 {
  padding-bottom: 0;
}


.content-box1 {
  border: 0px solid white;
  width: 35px;
  background-color: #989da6;
}

.contenthead1 h3 {
  color: #449399;
}
.contenthead2 h4 {
  font: bold;
}
span {
  color: #2fc1cc;
  font-size: 15px;
}
#leftright{
display: flex;

width: 850px;
flex-wrap: nowrap;

}
#leftside{
  height: 800px;
  background-color: brown;
  }
  #right{
    height: 800px;
    background-color: yellow;
    }
  

